body {
  background-color: white;
  padding: 1rem;
}

* {
margin: 0
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
}
 
.form-active {
  grid-template-columns: 1fr 0.25fr;
}

button {
  border: 0;
  padding: 2px .5rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.btn-remove {
  background-color: red;
  color: white;
}

.btn-update {
  background-color: blue;
  color: white;
}

.btn-create {
  background-color: green;
  color: white;
}

.btn-medium {
  padding: .5rem 1rem;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}